<div class="container">
  <p>Skill</p>
</div>
<div class="main">
  <!-- <ul class="navbar-nav flex-grow"> -->
  <ul>
    <li class="nav-item" routerLinkActive="link-active">
      <a class="nav-link text-dark" routerLink="/javascript">Javascript</a>
    </li>
    <li class="nav-item" routerLinkActive="link-active">
      <a class="nav-link text-dark" routerLink="/html">HTML</a>
    </li>
    <li class="nav-item" routerLinkActive="link-active">
      <a class="nav-link text-dark" routerLink="/mysql">MySQL</a>
    </li>
    <li class="nav-item" routerLinkActive="link-active">
      <a class="nav-link text-dark" routerLink="/nodejs">Node.JS</a>
    </li>
    <li class="nav-item" routerLinkActive="link-active">
      <a class="nav-link text-dark" routerLink="/koa">Koa</a>
    </li>
    <li class="nav-item" routerLinkActive="link-active">
      <a class="nav-link text-dark" routerLink="/cloud">Cloud Development</a>
    </li>
    <li class="nav-item" routerLinkActive="link-active">
      <a class="nav-link text-dark" routerLink="/algorithm">Algorithm:Data Structure</a>
    </li>
  </ul>
</div>
